@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

header {
  
  box-sizing: border-box;
  background-color: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  
  
}
.header-btn {
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
  }

.header-btn:hover{
    color: #7fc142;
}

.primary-btn {
    padding: 15px 40px;
    background: #7fc142;
    font-weight: bold;
    color: white;
    border-radius: 5px;
  }

.secondary-btn {
  padding: 15px 40px;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.container {
  max-width: 85%;
  margin: auto;
}


/*--------header---------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header button {
    padding: 13px 40px;
  }

header img {
  margin: 20px 0;
  height: auto;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #7fc142;
}

header i {
  margin: 0 20px;
}



header .navlinks span {
  display: none;
}

@media only screen and (max-width:768px) {
  header ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #009f7f;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 2;
  }

  header ul li {
    display: block;
  }

  header ul li a {
    color: white;
  }

  header i {
    color: white;
  }

  header .navlinks span {
    color: black;
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}

/*--------header---------*/